{% extends "base.html" %}
{% load static %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<div class="container main-cate">
  <div class="row align-items-center">
    
    <div class="col-md-4 d-flex justify-content-center">
      <div class="new-arrival-box">
        <img src="{% static 'Image/home/lookgirlpernt.webp' %}" alt="" class="image-newarrivar">
        <div class="div-arrived">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <p class="new-arrived-page">dolor sit amet consectetur</p>
          <p>123.00 <span>per Meter</span></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <img src="{% static 'Image/home/lookgirlimg.webp' %}" alt="" srcset="" width="100%">
    </div>

  </div>
</div>
<div class="container main-cate">
  <div class="row align-items-center">
    
    
    
    <div class="col-md-8 main-cate">
      <img src="{% static 'Image/home/lookgirlimg.webp' %}" alt="" srcset="" width="100%">
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="new-arrival-box">
        <img src="{% static 'Image/home/lookgirlpernt.webp' %}" alt="" class="image-newarrivar">
        <div class="div-arrived">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <p class="new-arrived-page">dolor sit amet consectetur</p>
          <p>123.00 <span>per Meter</span></p>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="container main-cate">
  <div class="row align-items-center">
    
    <div class="col-md-4 d-flex justify-content-center">
      <div class="new-arrival-box">
        <img src="{% static 'Image/home/lookgirlpernt.webp' %}" alt="" class="image-newarrivar">
        <div class="div-arrived">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <p class="new-arrived-page">dolor sit amet consectetur</p>
          <p>123.00 <span>per Meter</span></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <img src="{% static 'Image/home/lookgirlimg.webp' %}" alt="" srcset="" width="100%">
    </div>

  </div>
</div>
<div class="container main-cate">
  <div class="row align-items-center">
    
    
    
    <div class="col-md-8 main-cate">
      <img src="{% static 'Image/home/lookgirlimg.webp' %}" alt="" srcset="" width="100%">
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="new-arrival-box">
        <img src="{% static 'Image/home/lookgirlpernt.webp' %}" alt="" class="image-newarrivar">
        <div class="div-arrived">
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <p class="new-arrived-page">dolor sit amet consectetur</p>
          <p>123.00 <span>per Meter</span></p>
        </div>
      </div>
    </div>

  </div>
</div> 


{% endblock %}
